Creational Patterns/Singleton/obj/project.assets.json
Creational Patterns/Singleton/obj/project.nuget.cache
Creational Patterns/Singleton/obj/Singletin.csproj.nuget.dgspec.json
Creational Patterns/Singleton/obj/Singletin.csproj.nuget.g.props
Creational Patterns/Singleton/obj/Singletin.csproj.nuget.g.targets
Creational Patterns/Singleton/obj/Singleton.csproj.nuget.dgspec.json
Creational Patterns/Singleton/obj/Singleton.csproj.nuget.g.props
Creational Patterns/Singleton/obj/Singleton.csproj.nuget.g.targets
Creational Patterns/Singleton/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Creational Patterns/Singleton/obj/Debug/net7.0/Singleton.AssemblyInfo.cs
Creational Patterns/Singleton/obj/Debug/net7.0/Singleton.AssemblyInfoInputs.cache
Creational Patterns/Singleton/obj/Debug/net7.0/Singleton.assets.cache
Creational Patterns/Singleton/obj/Debug/net7.0/Singleton.GeneratedMSBuildEditorConfig.editorconfig
Creational Patterns/Singleton/obj/Debug/net7.0/Singleton.GlobalUsings.g.cs
Creational Patterns/Singleton/bin/Debug/net7.0/Singleton
Creational Patterns/Singleton/bin/Debug/net7.0/Singleton.deps.json
Creational Patterns/Singleton/bin/Debug/net7.0/Singleton.dll
Creational Patterns/Singleton/bin/Debug/net7.0/Singleton.pdb
Creational Patterns/Singleton/bin/Debug/net7.0/Singleton.runtimeconfig.json
Creational Patterns/Singleton/obj/Debug/net7.0/apphost
Creational Patterns/Singleton/obj/Debug/net7.0/Singleton.csproj.CoreCompileInputs.cache
Creational Patterns/Singleton/obj/Debug/net7.0/Singleton.csproj.FileListAbsolute.txt
Creational Patterns/Singleton/obj/Debug/net7.0/Singleton.dll
Creational Patterns/Singleton/obj/Debug/net7.0/Singleton.genruntimeconfig.cache
Creational Patterns/Singleton/obj/Debug/net7.0/Singleton.pdb
Creational Patterns/Singleton/obj/Debug/net7.0/ref/Singleton.dll
Creational Patterns/Singleton/obj/Debug/net7.0/refint/Singleton.dll
